.card h3 {
  width: 60%;

  font-size: 1.1rem;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card p {
  width: 30%;

  font-size: 0.9rem;
}

.card small {
  width: 100%;
  height: fit-content;

  align-self: flex-end;
}

.card .remove {
  width: 25px;
  height: 25px;
  padding: 23%;

  color: #868e96;

  border-radius: 3px;
  background-color: #e9ecef;
  cursor: pointer;
}

.card .remove:hover {
  padding: 25%;

  color: #e9ecef;

  background-color: #868e96;
}
